<table>
    <thead>
        <td>Van #</td>
        <td>Speed (Mph)</td>
        <td>Direction</td>
        <th>Location</th>
        <td>Latitude</td>
        <td>Longitude</td>
    </thead>
    <tbody>
        <% count = 0 %>        
        <% done = [] %>
        <% VehicleReading.order("created_at DESC").each do |r| %>
            <% if count > 20 %>
            <% break %>
            <% end %>
            <% if !done.include?(r.vehicle_id) %>
                <% done << r.vehicle_id %>
                <% count += 1 %>
                <tr>
                    <td><%= r.vehicle_id %></td>
                    <td><%= (r.speed*0.62137).to_i %> </td>
                    <td><%= getDirection(r.heading) %></td>
                    <td><%= findPlace(r.latitude, r.longitude) %></td>
                    <td><%= r.latitude %></td>
                    <td><%= r.longitude %></td>
                </tr>
            <% end %>
        <% end %>
    </tbody>
</table>
